.task-add {
  width: 100%;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.task-add:hover {
  background: rgb(224, 224, 224);
  cursor: pointer;
}

.task-add button {
  width: 100%;
  font-size: 2vw;
  background: none;
  border: none;
  outline: none;
}
